{% if tiene_citas %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/agendar.js' %}"></script>
    <title>Happy Teeth</title>
</head>

<body>


    <div class="container">
        <div id="modalcancelar" class="hide">
            
            
            <div>
                <p class="p1">
                ¿Seguro que deseas cancelar la cita seleccionada?
                </p>
                <a id="cancelar-link" style="text-decoration: none;" href="#">
                    <button class="btnsi">
                        Si
                    </button>
                </a>
                <button class="btnno" onclick="mostrarModal(modalcancelar)" >
                    No
                </button>
            </div>
            
        </div>

        


        <div class="cl">
            <div class="divtitle">
                <h1 class="title">
                    Studio Dental Happy Teeth
                </h1>
            </div>

            <p class="pp">
                privacy policy and terms of service
            </p>
        </div>
        <div class="cr">
            <a class="volver" href="{% url 'paciente' %}">
                <img class="imgvolver" src="{% static 'assets/img/volver.png' %}">
            </a>
            <div class="logo">
                <p class="logotext">
                    HT
                </p>
            </div>
                <h1>
                    Citas Agendadas
                </h1>
                <table>
                    <tbody>
                        {% for cita in citas_agendadas %}
                        
                        <input id="cita.id{{cita.id}}" value="{{cita.id}}"  style="display: none;">
                        
                        <tr>
                            <td class="cita">{{ cita.fechaAtencion }} {{ cita.horaInicio }}</td>
                            <td>
                                <button class="btncancel" onclick="cita({{ cita.id }});mostrarModal(modalcancelar)">
                                    Cancelar
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</body>
<script>
    function cita(id){
        var citaId = document.getElementById('cita.id'+id).value;
        var urlCancelar = "{% url 'cancelar_cita' 0 %}".replace('0', parseInt(citaId));
        document.getElementById("cancelar-link").href = urlCancelar;
        console.log(citaId)
    }
</script>

</html>
{% else %}
<div>
    <p class="p1">
        No tienes citas agendadas
    </p>
    <a href="{% url 'paciente' %}">
        <button class="btnok">
            Aceptar
        </button>
    </a>
</div>{% endif %}